*.class
*.log

# sbt specific
dist/*
target/
lib_managed/
src_managed/
project/boot/
project/plugins/project/

# Scala-IDE specific
.scala_dependencies

# eclipse specific
bin/*
.cache

# sensitive information
stackoverflow.auth.properties
langpop-web/src/main/resources/application.conf