# copy this file to application.conf
# and edit 

langpop-web {
	langpop {
		web {
			auth {
				stackoverflow {
					client_id = 123 # your app's id
					client_secret = "your own app's super secret client secred"
					key = "your app's not so secret key"
					redirect_uri = "http://localhost:8080/auth/stackoverflow/redirect"
					
					credentialsFile = "stackoverflow.auth.properties" # file will be created in execution path of server
				}
				github {
					# nothing yet
				}
			}
		}
	}
}

langpop-aggregate {
	langpop {
		aggregate {
			#file is read from classpath
			tagsfile = "/tagList.txt"
			#unix time stamp
			starttime = 1352645381
		}
	}
	
	akka {
		event-handlers = ["akka.event.slf4j.Slf4jEventHandler"]
		loglevel = DEBUG
		log-config-on-start = off
		actor.debug {
			receive = on
			autoreceive = on
			lifecycle = on
			event-stream = on
		}
	}
}

langpop-query {
	langopop {
		query {
			stackoverflow {
				eventQueryInterval = 60
				filters {
					event = "!9hnGt*H(i" # this filter includes all .wrapper fields
				}
			}
		}
	}
	
	akka {
		event-handlers = ["akka.event.slf4j.Slf4jEventHandler"]
		loglevel = DEBUG
		log-config-on-start = off
		actor.debug {
			receive = on
			autoreceive = on
			lifecycle = on
			event-stream = on
		}
	}
}
