# copy this file to application.conf
# and edit 

langpop-web {
	auth {
		stackoverflow {
			client_id = 123 # your app's id
			client_secret = "your own app's super secret client secred"
			key = "your app's not so secret key"
			redirect_uri = "http://localhost:8080/auth/stackoverflow/redirect"
			
			credentialsFile = "stackoverflow.auth.properties" # file will be created in execution path of server
		}
		github {
			# nothing yet
		}
	}
}
